<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.theophilus.agriwaves">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:noHistory="true" />
        <activity
            android:name=".Activities.SeriesEpisodeActivity"
            android:noHistory="true" />
        <activity android:name=".BlogActivity" />
        <activity
            android:name=".Activities.StoryActivity"
            android:noHistory="true" />
        <activity
            android:name=".Activities.CategoryPostActivity"
            android:noHistory="true" />
        <activity android:name=".Activities.BlogListActivity" />
        <activity android:name=".Activities.SeriesActivity" />
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.ContactActivity" />
        <activity android:name=".Activities.TeamActivity"></activity>
    </application>

</manifest>